<%- include('partials/header') %>

  
  <div class="container">
    <header>
      <h1>Bolt Income Tracker</h1>
    </header>
    
    <div class="income-box">
      <h2><%= user.firstName%> <%= user.lastName%></h2>
      <button type="button" id="fetch-income">Update</button>
      <button type="button" id="manual-button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add Manual</button>
    </div>

    <div class="income-history">
      <h3 class="text-center mb-3">Income List</h3>
      <table id="incomeHistory" class="table table-bordered">
        <thead>
          <tr>
            <th>Week</th>
            <th>Total</th>
            <th><i class="fa-solid fa-dollar-sign text-success"></i> Cash</th>
            <th><i class="fa-regular fa-credit-card"></i> In App</th>
            <th>ZUS</th>
            <th>To Santander</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="incomes">
          <% if(incomes.length > 0) { %>
            <% incomes.forEach((income) => { %>
              <tr id="income-<%= income.id %>">
                <td class="fw-bold">
                  <%= new Date(income.from).toLocaleDateString('pl-PL', {
                    day: '2-digit',
                    month: '2-digit',
                    year: 'numeric'
                  }) %>
                  - 
                  <%= new Date(income.to).toLocaleDateString('pl-PL', {
                    day: '2-digit',
                    month: '2-digit',
                    year: 'numeric'
                  }) %>
                </td>
                <td class="fw-bold"><%= income.total %> PLN</td>
                <td class="text-success fw-bold"><%= income.cash %> PLN</td>
                <td class="text-danger fw-bold"><%= income.price %> PLN</td>
                <td class="fw-bold"><% if(income.has_zus){%><span class="text-danger"><%if (user.age && user.age >=26){%>179.95<%}else{%>145.95<%}%></span><% }else{ %><span class="text-success">0 PLN</span><%}%></td>
                <td class="fw-bold text-primary">+<%= income.net_price || 'Not Available' %> PLN</td> <!-- Add Net Income -->    
                <td>
                  <button type="button" data-zus="<%=income.has_zus%>" data-id="<%=income.id%>" data-from="<%=income.from%>" data-to="<%=income.to%>" data-cash="<%=income.cash%>" data-price="<%=income.price%>" class="btn btn-primary my-2 edit-income">Edit</button>
                  <button type="button" data-id="<%=income.id%>" class="btn btn-danger delete-button" data-bs-whatever="@mdo">Delete</button>
                </td>
              </tr>
            <% }) %>
          <% } else { %>
            <tr>
              <td colspan="4">You have no incomes</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

          <!-- Modal for Add Income -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form id="manual-add-form">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New Income</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">From:</label>
                    <input required type="date" name="from" class="form-control from-date">
                  </div>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">To:</label>
                    <input required type="date" name="to" class="form-control to-date">
                  </div>
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">Cash:</label>
                    <input required type="number" name="cash" class="form-control" step="0.01" min="0">
                  </div>
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">In App:</label>
                    <input required type="number" name="price" class="form-control" step="0.01" min="0">
                  </div>

                  <div class="mb-3 form-check">
                    <input type="checkbox" name="zus" class="form-check-input" id="priceCheckbox">
                    <label for="priceCheckbox" class="form-check-label">I have ZUS</label>
                  </div>
                  
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
              </div>
            </div>
          </div>
    
          <!-- Modal for Edit Income -->
          <div class="modal fade" id="editIncomeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form id="manual-update-form">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Income</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">From:</label>
                    <input required type="date" name="from" class="form-control edit-from">
                  </div>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">To:</label>
                    <input required type="date" name="to" class="form-control edit-to">
                  </div>
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">Cash:</label>
                    <input required type="number" name="cash" class="form-control edit-cash" step="0.01" min="0">
                  </div>
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">In App:</label>
                    <input required type="number" name="price" class="form-control edit-price" step="0.01" min="0">
                  </div>
                  <div class="mb-3 form-check">
                    <input type="checkbox" name="zus" class="form-check-input edit-zus" id="zus">
                    <label for="zus" class="form-check-label">I have ZUS</label>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Update</button>
                  <input class="update-income-id" type="hidden" name="id">
                </div>
              </form>
              </div>
            </div>
          </div>
<%- include('partials/footer') %>